* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bigbox {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 100px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animeone 4s linear infinite;
}

@keyframes animeone {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100px;
    border-left-color: transparent;
    border-right-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animetwo 4s linear infinite;
}

@keyframes animetwo {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.smallbox {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 100px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: animethree 4s linear infinite;
}

@keyframes animethree {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.rounder {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
}