    .container {
        max-width: 1280px;
        position: relative;
    }
    
    * {
        margin: 0;
        padding: 0;
    }
    
    .fixed {
        position: fixed;
        bottom: 40px;
        right: 40px;
        transform: scale(1.5);
    }
    
    button,
    .btn,
    .form-control {
        box-shadow: none !important;
    }
    
    h1,
    h2,
    p,
    li,
    ul {
        margin: 0;
        margin: none;
        padding: 0;
    }
    
    .wrapper {
        background: #F2F1EF;
        overflow-x: hidden;
    }
    
    .wrapper.active {
        background-color: #000000;
    }
    
    .theme {
        width: 30px;
        height: 30px;
        background-image: url(../assets/icons/colorF.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        outline: none !important;
        z-index: 100;
    }
    
    .nav_logo {
        display: none;
    }
    
    .nav_logo.active {
        display: block;
    }
    
    .theme.active {
        background-image: url(../assets/icons/colorT.png);
    }
    
    .navbar {
        height: 96px;
    }
    
    .nav-link {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #161513 !important;
        border-bottom: 2px solid transparent;
    }
    
    .nav-link:hover {
        border-bottom: 2px solid #161513;
    }
    /* mainOne */
    
    .mainOne {
        padding-top: 141px;
        padding-bottom: 141px;
    }
    
    .mainOne_flex_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mainOne_flex_box_one {}
    
    .mainOne_flex_box_two {}
    
    .mainOne_content_box {}
    
    .mainOne_text_box {
        margin-bottom: 35px;
    }
    
    .mainOne_content_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.56px;
        color: #161513;
    }
    
    .mainOne_info_box {
        margin-bottom: 40px;
    }
    
    .mainOne_info_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
    }
    
    .btn-group {}
    
    .btn {}
    
    .btn-dark {}
    
    .btn-outline-dark {}
    
    .mainOne .btn-group .btn {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    
    .mainOne .btn-group .btn:first-child {
        width: 179px;
        height: 50px;
    }
    
    .mainOne .btn-group .btn:last-child {
        width: 144px;
        height: 50px;
    }
    
    .mainOne_img {
        width: 100%;
        display: none;
    }
    
    .mainOne_img.active {
        display: block;
    }
    /* mainOne */
    /* marquee */
    
    marquee {
        background-color: #161513;
        padding-top: 15px;
        padding-bottom: 15px;
        transform: rotate(-4.93deg);
        width: 102%;
        margin-left: -10px;
    }
    
    .marquee_box {
        display: flex;
    }
    
    .marquee_big_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .marquee_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        margin-right: 9px;
        margin-bottom: 0;
    }
    
    .marquee_img {}
    /* marquee */
    /* mainTwo */
    
    .mainTwo {
        padding-top: 130px;
        padding-bottom: 122px;
    }
    
    .mainTwo_first_content_box {}
    
    .mainTwo_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
        margin-bottom: 21px;
    }
    
    .mainTwo_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        letter-spacing: 0.56px;
        color: #161513;
    }
    
    .mainTwo_second_content_box {}
    
    .mainTwo_second_content_box_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 40px;
        letter-spacing: 0.64px;
        color: #161513;
        margin-bottom: 36px;
        max-width: 600px;
    }
    
    .mainTwo_second_content_box_title_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */
        color: #161513;
        margin-bottom: 27px;
        max-width: 600px;
    }
    
    .mainTwo_content_mini_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 600px;
    }
    
    .mainTwo_content_mini_box_box {}
    
    .mainTwo_content_mini_box_box_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #E94D35;
    }
    
    .mainTwo_content_mini_box_box_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
    }
    /* mainTwo */
    /* mainThree */
    
    .mainThree {
        padding-bottom: 122px;
    }
    
    .container {}
    
    .mainThree_bigBox {
        display: flex;
        border: 2px solid #332F29;
        height: 156px;
        align-items: center;
        justify-content: space-between;
    }
    
    .mainThree_smallBox {
        width: 33%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .mainThree_smallBox:nth-child(2) {
        background: #161513;
    }
    
    .mainThree_smallBox:nth-child(2) .mainThree_smallBox_num {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        color: #FFFFFF;
    }
    
    .mainThree_smallBox:nth-child(2) .mainThree_smallBox_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    
    .mainThree_smallBox_num {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 56px;
        line-height: 64px;
        text-align: center;
        color: #161513;
        margin-bottom: 11px;
    }
    
    .mainThree_smallBox_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        color: #161513;
    }
    /* mainThree */
    /* mainFour */
    
    .mainFour {}
    
    .mainFour_content_box {}
    
    .mainFour_content_title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    
    .mainFour_content_title_img {}
    
    .mainFour_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 1.44px;
        color: #161513;
    }
    
    .mainForu_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        color: #161513;
        margin-bottom: 61px;
    }
    
    .mainFour_mini_content_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 2px solid #161513;
        padding: 38px;
        margin-bottom: 24px;
    }
    
    .mainFour_mini_content_box_one {
        display: flex;
        align-items: center;
    }
    
    .mainFour_number {
        width: 48px;
        height: 48px;
        background: #E94D35;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        margin-right: 24px;
    }
    
    .mainFour_mini_content_text_box {}
    
    .mainFour_mini_content_text_box_one {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        letter-spacing: 0.48px;
        color: #161513;
        margin: 0;
    }
    
    .mainFour_mini_content_text_box_two {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #161513;
        margin: 0;
    }
    
    .mainFour_mini_content_box_two {
        display: flex;
    }
    
    .mainFour_mini_content_box_two_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #161513;
        margin-bottom: 0;
        margin-right: 16px;
    }
    
    .mainFour_mini_content_box_two_info {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #161513;
        margin-bottom: 0;
    }
    /* mainFive */
    
    .mainFive {}
    
    .container {}
    
    .mainFive_title_box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .mainFive_title_img {
        margin-bottom: 22px;
    }
    
    .mainFive_title_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 56px;
        text-align: center;
        letter-spacing: 1.44px;
        color: #161513;
        margin-bottom: 17px;
    }
    
    .mainFive_title_info {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        color: #161513;
        margin-bottom: 61px;
    }
    
    .mainFive {
        padding-bottom: 25px;
    }
    
    .mainFive_content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 95px;
    }
    
    .mainFive_content_img_box {
        margin-right: 44px;
    }
    
    .mainFive_content:nth-child(2) .mainFive_content_img_box,
    .mainFive_content:nth-child(4) .mainFive_content_img_box {
        order: 2;
        margin-right: 0;
    }
    
    .mainFive_red_box {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 1.44px;
        text-transform: uppercase;
        color: #FFFFFF;
        padding: 0 12px;
        background-color: #E94D35;
        width: fit-content;
        margin-bottom: 30px;
    }
    
    .mainFive_content_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 45px;
        line-height: 56px;
        letter-spacing: 1.44px;
        color: #161513;
        max-width: 517px;
        margin-bottom: 49px;
    }
    
    .mainFive_content_link {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #161513;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: all 0.15s ease-in-out;
    }
    
    .mainFive_content_link:hover {
        color: #161513;
        border-bottom: 2px solid #161513;
    }
    /* mainFive */
    /* mainSix */
    
    .mainSix {
        padding-bottom: 121px;
    }
    
    .mainSix .col-md-6:nth-child(1),
    .mainSix .col-md-6:nth-child(3) {
        margin-bottom: 40px;
        padding-right: 20px;
    }
    
    .mainSix .col-md-6:nth-child(2),
    .mainSix .col-md-6:nth-child(4) {
        margin-bottom: 40px;
        padding-left: 20px;
    }
    
    .col-6 {}
    
    .mainSix_content_box {
        width: 100%;
        height: 100%;
        border: 2px solid #161513;
        padding: 34px;
    }
    
    .mainSix_content_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 40px;
        /* identical to box height, or 129% */
        letter-spacing: 0.64px;
        color: #161513;
    }
    
    .mainSix_content_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        /* or 178% */
        color: #161513;
    }
    /* mainSix */
    /* mainSeven */
    
    .mainSeven {
        padding-bottom: 123px;
    }
    
    .mainSeven .col-3 {
        margin-bottom: 24px;
    }
    
    .mainSeven .mainFive_title_text {
        margin: 0;
    }
    
    .mainSeven_title_box {
        margin-bottom: 62px;
    }
    
    .col-3 {}
    
    .mainSeven_content_box {
        border: 1px solid #131416;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 98px;
        margin-bottom: 24px;
    }
    
    .mainSeven_img {}
    /* mainSeven */
    /* mainEight */
    
    .mainEight {
        padding-bottom: 136px;
    }
    
    .mainEight .col-12 {
        margin-bottom: 100px;
    }
    
    .mainEight .row {}
    
    .mainEight .col-12:nth-child(3) {
        margin-bottom: 94px;
    }
    
    .mainEigth_content_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid #000000;
        width: 100%;
        height: 100%;
        padding: 0 34px;
    }
    
    .mainEight_content_first_box {}
    
    .breadcrumb {
        margin-bottom: 0 !important;
    }
    
    .breadcrumb-item {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        letter-spacing: 1.28px;
        text-transform: uppercase;
        color: #E94D35;
    }
    
    .breadcrumb-item+.breadcrumb-item::before {
        color: #E94D35 !important;
    }
    
    .mainEight_content_first_text {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        /* identical to box height, or 139% */
        letter-spacing: 0.48px;
        color: #161513;
        max-width: 456px;
    }
    
    .mainEight_content_second_box {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        /* or 150% */
        color: #161513;
        max-width: 457px;
    }
    
    .mainEight button {
        background: #161513 !important;
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */
        text-align: center;
        color: #FFFFFF !important;
        height: 58px;
    }
    
    .mainEight button:hover {
        color: #FFFFFF;
    }
    /* mainEight */
    /* mainNine */
    
    .mainNine {
        background: #E6E3DE;
        padding: 72px 0;
    }
    
    .container {}
    
    .mainNine_content_box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mainNine_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        /* identical to box height, or 139% */
        letter-spacing: 0.48px;
        color: #161513;
    }
    
    .mainNine_content_button_box {
        width: fit-content !important;
    }
    
    .mainNine input {
        padding: 12px 21px;
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        /* identical to box height, or 139% */
        letter-spacing: 0.48px;
        color: #161513;
        border: 2px solid #161513;
        border-radius: 0px;
        background: #E6E3DE;
        margin-right: 24px;
    }
    
    .input-group {}
    
    .mainNine .btn {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        /* identical to box height, or 139% */
        letter-spacing: 0.48px;
        color: #FFFFFF;
        background: #131416;
        border-radius: 0px !important;
    }
    
    .mainNine .btn:hover {
        color: #FFFFFF;
    }
    /* mainNine */
    /* footer */
    
    footer {
        padding-top: 70px;
        padding-bottom: 34px;
        background: #161513;
    }
    
    .container {}
    
    .navbar {}
    
    .footer_logo {}
    
    .nav {}
    
    .nav-item {}
    
    footer .nav-link {
        color: #FFFFFF !important;
    }
    
    footer .nav-link:hover {
        border-bottom: 2px solid #FFFFFF;
    }
    
    .footer_title {
        font-family: 'Bai Jamjuree';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* identical to box height, or 171% */
        color: #F2F1EF;
    }
    
    .footer_icon {}
    
    .tocolorwhite {
        color: #FFFFFF !important;
    }
    
    .tobgcolorwhite {
        background-color: #FFFFFF !important;
    }
    
    .tobgcolorblack {
        background-color: #000;
    }
    
    .tocolorblack {
        color: #000;
    }
    /* footer */
    
    .body::-webkit-scrollbar {
        width: 5px;
        background-color: #F2F1EF;
        color: #F2F1EF;
    }
    
    .body::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #000;
    }
    
    .body.night::-webkit-scrollbar {
        width: 5px;
        background-color: #000;
    }
    
    .body.night::-webkit-scrollbar-thumb {
        border-radius: 6px;
        background-color: #F2F1EF;
    }